<div class="l-row l-row-gray">
	<div class="container">
		<div class="col-xs-12 col-sm-4">
			<div class="media">
			  <div class="media-left">
			    <%= link_to '', page_path('sales'), :title => 'View Sales Feed', class: 'glyphicon glyphicon-tag pm-icon-media' %>
			  </div>
			  <div class="media-body">
			    <h3 class="media-heading">Sales Feed</h3>
			    <p>Rabo-de-galo jack rose black velvet lime rickey pappy van winkle schenley's paradise.</p>
		    	<p>
		    		<%= link_to 'View Sales Feed', page_path('sales'), :class => 'btn btn-default btn-sm' %>
		    	</p>
			  </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="media">
			  <div class="media-left">
			    <%= link_to '', page_path('stats'), :title => 'View Stats Feed', class: 'glyphicon glyphicon-stats pm-icon-media' %>
			  </div>
			  <div class="media-body">
			    <h3 class="media-heading">Stats Feed</h3>
			    <p>Martini dalwhinnie white russian jack daniel's bloody aztec dewar's scotch whisky.</p>
		    	<p>
		    		<%= link_to 'View Stats Feed', page_path('stats'), :class => 'btn btn-default btn-sm' %>
		    	</p>
			  </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="media">
			  <div class="media-left">
			    <%= link_to '', page_path('cart'), :title => 'View Cart', class: 'glyphicon glyphicon-shopping-cart pm-icon-media' %>
			  </div>
			  <div class="media-body">
			    <h3 class="media-heading">View Cart</h3>
			    <p>Talisker polmos krakow glenlivet black russian imperial irish flag; royal bermuda cocktail.</p>
		    	<p>
		    		<%= link_to 'View Your Cart', page_path('cart'), :class => 'btn btn-default btn-sm' %>
		    	</p>
			  </div>
			</div>
		</div>
	</div>
</div>